
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    
    
    

    
        <div class="footer" style="position: relative; bottom: 0%; display: block; width: 100%;">
            <footer>
                <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/FAQs">FAQs</a></li>
                    <li class="list-inline-item"><a href="/contactUs">ContactUs</a></li>
                    <li class="list-inline-item"><a href="/aboutUs">AboutUs</a></li>
                </ul>
                <p class="copyright">HomeAway</p>
            </footer>
        </div>
    </body>
</html>