<!-- receive reports from guests about false listing etc-->
<%- include("./partials/admin-header") -%>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    <div class="container">
        <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">user</th>
            <th scope="col">subject</th>
            <!-- <th scope="col">Handle</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>
                As I reached the top of a hill, I paused to catch my breath and take in the view. From here, I could see for miles in every direction, the rolling hills and valleys stretching out before me like a patchwork quilt.
            </td>
            <!-- <td>@mdo</td> -->
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>jacob</td>
            <td>The moonlit sky was filled with a dazzling array of stars, each one twinkling like a tiny diamond in the blackness. The wind whispered softly through the trees, rustling the leaves and carrying the scent of pine and earth. In the distance, an owl hooted, its call echoing through the night.</td>
            <!-- <td>@fat</td> -->
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>louis</td>
            <td>
                The moonlit sky was filled with a dazzling array of stars, each one twinkling like a tiny diamond in the blackness. The wind whispered softly through the trees, rustling the leaves and carrying the scent of pine and earth. In the distance, an owl hooted, its call echoing through the night.
            </td>
            <!-- <td>@twitter</td> -->
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>taylor</td>
                <td>
                    As I walked along the path, I couldn't help but feel a sense of wonder and awe at the beauty of the natural world around me. It was a feeling that I had experienced many times before, but each time it filled me with a sense of joy and gratitude that was hard to put into words.
                </td>
                <!-- <td>@mdo</td> -->
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>john</td>
                <td>
                    As I walked along the path, I couldn't help but feel a sense of wonder and awe at the beauty of the natural world around me. It was a feeling that I had experienced many times before, but each time it filled me with a sense of joy and gratitude that was hard to put into words.

                </td>
                <!-- <td>@fat</td> -->
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>larry</td>
                <td>
                    In the distance, I could see the lights of a small town, twinkling like stars on the horizon. It was a comforting sight, a reminder that even in the midst of all this natural beauty, there were people and communities thriving and growing.
                </td>
                <!-- <td>@twitter</td> -->
            </tr>
        </tbody>
        </table>
    </div>
    <%-include("./partials/footer")-%>
</body>
</html>