<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Success</title>
    <%- include ("./partials/header") -%>
</head>
<body>
    <h2>success</h2>
    <a href="/guest/homepage">HomePage</a>
    <a href="/guest/profile">Profile</a>
</body>
</html>