<!-- first page to display -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/firstPage.css">
    <title>Welcome to HomeAway</title>
</head>
<body>

        <h2>Choose your User</h2>
        <a href="/admin/login">ADMIN</a>
        <a href="/guest/login">GUEST</a>
        <a href="/host/login">HOST</a>

</body>
</html>