<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host-register</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body style="background-color:#557571;">
    <section class="vh-100">
        <div class="container  py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center ">
                <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                    <div class="col-md-6 col-lg-5 d-grid d-md-block">
                        <img src="/imgs/34.jpg"
                        alt="login form" class="img-fluid h-75" style="border-radius: 1rem 1rem 1rem 1rem;" />
                    </div>
                    <div class="col-md-6 col-lg-7 d-flex ">
                        <div class="card-body p-4 p-lg-4 text-black">
        
                        <form id="register" action="/host/register" method="post">
                            <div class="d-flex align-items-center mb-3 pb-1">
                            <span class="h1 fw-bold mb-4">Home Away (Host)</span>
                            </div>
        
                            <h5 class="fw-medium mb-4 pb-3" style="letter-spacing: 1px;">Sign up your account</h5>

                            <div class="form-outline mb-4">
                                <input type="text" class="form-control form-control-md" id="username" name="username" placeholder="Enter your username" required>
                            </div>
        
                            <div class="form-outline mb-4">
                            <input type="email" class="form-control form-control-md" id="email" name="email" placeholder="Email address" required>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" class="form-control form-control-md" id="phone" name="phone" placeholder="Enter your phone number" required>
                            </div>
        
                            <div class="form-outline mb-4">
                            <input type="password" class="form-control form-control-md" id="password" name="password" placeholder="Password" required>
                            </div>

                            <div class="form-outline mb-4">
                            <input type="password" class="form-control form-control-md" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>
                            </div>
        
                            <div class="pt-0 mb-4">
                            <button class="btn btn-dark btn-md btn-block" type="submit">SIGNUP</button>
                            </div>

                            <p class="mb-0 pb-lg-2" style="color: #393f81;">Already have an account? <a href="/host/login"
                                style="color: #393f81;">Login</a></p>
                        </form>
        
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>

    <!-- Add Bootstrap JS (optional if you don't need any JS features) -->
    <script src="/js/formValidations.js" defer></script>
</body>
</html>
