<!DOCTYPE html>
<head>
  <title>Get Started</title>
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/p1h.css">
  <link rel="icon" href="/favicon.ico">

</head>
<body id="p1h">
  <div class="navbar header">
    <h2 style="text-decoration:none;"class="heading1">Home Away</h2>
 </div>
  <div class="wp">
    <div class="s1"><img src="/images/image9.png" width="800px" height="500px" style="margin-left: 30px;"></div>
    <div class="s2">
      <h1  style="margin-left: 180px;">Let's Get Started On </h1>
      <h1 style="margin-left: 240px;margin-bottom: 35px; font-size: 35px;font-style: italic;">Home Away</h1>
      
      <h2  style="margin-left: 180px;">Create your own Listing</h2>
      <p style="margin-left: 80px;margin-right: 20px;line-height: 30px;font-style:oblique;font-size: 16.5px;">Here you can give basic information about your home 
        like type of home,part of place & amenities you can provide to guests,location of your place,upload some pictures of your home and give a short
        title and description of your place,the price per night that you are expecting so that it will help the guests to know better about your place.</p>
    </div>
  </div>
  
  <hr/>
  <form action="/host/gop12h" method="post">
  <div><button  type=submit>Back</button> </div>
</form>
  <a href="/p2h"><input class="gs" type="button" value="Start"></a>
</body>

</html>