<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloock&family=Merriweather:ital,wght@1,300&family=Playfair+Display&family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <style>
        .header{
            height: 100px;
            background-color: #557571;
            width: 100%;
        }
        .heading1{
            text-decoration: none;
            margin-left: 10px;
            font-family: 'Playfair Display', serif;
            color: #F4F4F4;
        }
        .Box{
            border: 1px solid;
            border-radius: 10px;
            margin-top: 200px;
            padding:20px;
            padding-left: 200px;
        }

        .button {
         
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  float: right;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

        .input-group1 {
            width: 200px;
        }
    </style>
    <script src="/js/reset.js"></script>
</head>
<body style="background-color: #E1EEDD;">
    <div class="navbar header">
        <a style="text-decoration:none;" href="/p12h"><h2 class="heading1">HomeAway</h2></a>
        <a href="/profile"><img src="/public/images/results/profile.png" alt="" class="profile-img" ></a>
    </div>

    <div class="body" >
        <form role="form" action="/host/reset" method="post">
            <div class="box" style="margin-top: 80px; margin-left: 30%;margin-right:30%; border: 1px solid black; padding: 20px; border-radius: 10px; height: 420px; text-align: center;">
                <div>
                    <h2 class="page-header" style="text-align: center;">Reset Password</h2><hr>
                </div>
                <div>
                    <label>Old Password</label>
                    <div class="input-group1">
                        <div class="">
                            <input class="form-control" id="oldP" name="oldPassword" value="" placeholder="Enter the Old Password" type="password" style="margin-left: 75%;" >
                        </div>
                    </div>
                </div>
                <br/>
                <div>
                    <label>New Password</label>
                        <div class="input-group1">
                            <div class="">
                                <input class="form-control" id="newP" name="newPassword" value="" placeholder="Enter the New Password" type="password" style="margin-left: 75%;">
                            </div>
                        </div>
                </div>
                <br/>
                <div>
                    <label>Confirm Password</label>
                    <div class="input-group1">
                        <input class="form-control" id="confirmP" name="confirmPassword" value="" placeholder="Re-enter the New Password" type="password" style="margin-left: 75%;">
                    </div>
                        
                </div>
                <div class="Box-footer text-right">
                    <div class="pull-right" style="margin-right: 169px; margin-top: 20px;">
                        <button type="submit" name="Submit" value="Save" class="button" onclick="return checkForm();" >Save</button>
                        <button type="reset" name="Reset" value="Clear" class="button" style="margin-right: 23px;">Clear</button>
                    </div>
                </div>
            </div>    
        </form>
    </div>
</body>
</html>