.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

#myVideo {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 100%;
    max-height: 5000px;
}

.colm-form {
    flex: 0 0 40%;

}



.colm-form .form-container {
    border: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
    max-width: 400px;
}

.colm-form .form-container input, .colm-form .form-container .btn-login {
    width: 95%;
    margin: 15px 0;
    margin-top: 0px;
    height: 43px;
  
    font-size: 16px;
}

.phn-num {
    background-color: white;
    display: block;
    margin-bottom: 15px;
    height: 45px;
    width: 95%;
    border: 1px solid #dddfe2;
    color: #1d2129;

}



.colm-form .form-container input {

    border: 1px solid #dddfe2;
    color: #1d2129;
    padding: 0 8px;
    outline: none;
}


.colm-form .form-container .btn-login {
    background-color:lightpink;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
    width: 150px;
}

.colm-form .form-container .btn-login:hover {
    background-color: rgb(169, 119, 127);
}

.colm-form .form-container a {
    display: block;
    color:dimgrey;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0 20px;
    border-bottom: 1px solid #dadde1;
}

.form-group {
    border: 1px solid #ced4da;
    padding: 5px;
    border-radius: 6px;

  }
  .form-group:focus {
    color: #212529;
      background-color: #fff;
      border-color: #86b7fe;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
  .form-group input {
    display: inline-block;

    border: none;
  }
  .form-group input:focus {
    box-shadow: none;
  }

.colm-form .form-container .btn-new {
    background-color:lightpink;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 10px; 
}

.colm-form .form-container .btn-new:hover {
    background-color: rgb(169, 119, 127);
}

.colm-form p {
    font-size: 14px;
}
